.header-main-layout {

    position: sticky;
    top: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
    // border-bottom: 1px solid $clr22;
    z-index: 100;
    


    .header-container {
        min-height: 80px;
        align-items: center;
        padding-inline: 2rem;
    }

    .border-helper {
        border-bottom: 1px solid $clr22;
        opacity: 0;
    }

    header {
        display: flex;
        align-items: center;
        // padding: 0 32px;
        // margin: 0 5rem;


        & .site-logo {
            margin: 0;


            & img {
                padding-top: 7px;
                width: 5em;
            }
        }

        & .search {
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            min-width: 200px;
            padding-left: 20px;
            padding-right: 20px;
            transition: opacity 0.3s ease;
            opacity: 0;

            .header-main-layout.search-visible .search {
                opacity: 1;
            }

            input[type="text"] {
                flex: 1;
                padding: 8px;
                border: 1px solid $clr2;
                border-radius: 4px 0 0 4px;
                border-right: 0;
            }

            button {
                cursor: pointer;
                position: absolute;
                right: 13px;
                background-color: $clr4;
                border-radius: 0 4px 4px 0;
                display: block;
                font-size: 14px;
                padding: 8px 16px;
                text-shadow: none;

                .search-icon svg {
                    fill: $CLR0;
                }

            }
        }

        & .links {
            font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1rem;
            justify-self: end;
            text-decoration: none;
            

            a {
                color: $CLR00;
            }

            &>* {
                padding-inline-end: rem(20px);

            }

            img {
                width: 2.5em;
            }
        }
    }

    .categories-menu-package {
        justify-content: space-between;
        font-family: Macan,
            "Helvetica Neue",
            Helvetica,
            Arial,
            sans-serif;
        transition: opacity 0.3s ease;
        opacity: 0;
        border-bottom: 1px solid $clr22;
        border-top: 1px solid $clr22;       
        padding-inline: 2rem;


        & ul {
            justify-content: space-between;
            margin: 0 auto;
            padding: 0;

            & li {
                color: #62646a;
                display: block;
                font-size: 1rem;
                line-height: rem(24px);
                padding: rem(8px) 0;
                position: relative;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

}



.header-main-layout.scrolled .header-container {
    background-color: white;
    

}

.header-main-layout.search-visible .border-helper {
    opacity: 1;
}


.header-main-layout.search-visible .search,
.header-main-layout.categories-visible .categories-menu-package {
    opacity: 1;
    background-color: white;

}