.header-main-layout {
    
    border-bottom: 1px solid $clr22;
    .header-container{
        min-height: 80px;
    }
    
    .border-helper{
        border-bottom: 1px solid $clr22;
    }

    width: 100%;
    z-index: 100;
    header {
        display: flex;
        align-items: center;
        // padding: 0 32px;
        // margin: 0 5rem;
       

        & .site-logo {
            margin: 0;

            & img {
                width: 5em;
            }
        }

        & .search {
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            min-width: 200px;
            padding-left: 20px;
            padding-right: 20px;



            input[type="text"] {
                flex: 1;
                padding: 8px;
                border: 1px solid $clr2;
                border-radius: 4px 0 0 4px;
                border-right: 0;
            }

            button {
                position: absolute;
                right: 13px;
                background-color: $clr4;
                border-radius: 0 4px 4px 0;
                display: block;
                font-size: 14px;
                padding: 8px 16px;
                text-shadow: none;
                .search-icon svg{
                    fill: $CLR0;
                }

            }
        }

        & .links {
            font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1rem;
            justify-self: end;
            

            &>* {
                padding-inline-end: rem(20px);

            }

            img {
                width: 2.5em;
            }
        }
    }

    .categories-menu-package {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Macan,
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;

        
        & ul {     
            justify-content: space-between;
            margin: 0 auto;                
            padding: 0;
            
            & li {
                color: #62646a;
                display: block;
                font-size: 1rem;
                line-height: rem(24px);
                padding: rem(8px) 0;
                position: relative;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}