.header-main-layout {
    position: sticky;
    top: 0;
    background-color: transparent;
    // transition: background-color 0.3s ease;    
    z-index: 100;
    height: 80px;
    text-decoration: none;

    .header-container {
        min-height: 80px;
        align-items: center;

        & .mobil-diamond {
            display: none;

            @include for-mobile-layout {
                display: block;
                width: 3rem;
                height: 3rem;
                margin-inline-start: auto;
                margin-block-start: 1rem;

                span:nth-child(2) {
                    position: relative;
                    right: -8px;
                }

                .letter svg {
                    width: 32px;
                    height: 32px;
                    z-index: 100;
                }

                .XQskgrQ {
                    position: absolute;
                    top: 23px;
                    left: 285px;
                }

                .XQskgrQ svg {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        @include for-mobile-layout {
            grid-column: 1/-1;
            box-shadow: 0 0 2px 0 #62646a;

            & .site-logo {
                margin-inline-start: 20px;
            }
        }

        & span.join:hover {
            background-color: $clr1;
            color: white;
        }
    }

    .border-helper {
        border-bottom: 1px solid $clr22;
        opacity: 0;
    }

    header {
        display: flex;
        align-items: center;

        & .site-logo {
            @include for-mobile-layout {
                // fill: #62646a;
            }

            margin: 0;

            & img {
                padding-top: 7px;
                width: 5em;
            }
        }

        & .search {
            @include for-mobile-layout {
                display: none;
            }

            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            min-width: rem(200px);
            max-width: rem(500px);
            padding-left: 20px;
            padding-right: 20px;
            transition: opacity 0.3s ease;
            opacity: 0;

            .header-main-layout.search-visible .search {
                opacity: 1;

            }

            input[type="text"] {
                flex: 1;
                padding: 10px 16px 10px 2px;
                height: 2.6rem;
                border: 1px solid $clr2;
                border-radius: 4px 0 0 4px;
                border-right: 0;
                padding-inline-start: 10px;

            }

            button {
                cursor: pointer;
                position: absolute;
                right: 13px;
                background-color: $clr4;
                border-radius: 0 4px 4px 0;
                display: block;
                font-size: 14px;
                padding: 11.1px 16px;
                text-shadow: none;

                .search-icon svg {
                    fill: $CLR0;
                }
            }
        }

        & .links {
            @include for-mobile-layout {
                display: none;
            }

            align-items: center;

            font-family: Macan,
            "Helvetica Neue",
            Helvetica,
            Arial,
            sans-serif;
            font-size: 1rem;
            justify-self: end;
            text-decoration: none;
            display: flex;
            margin-inline-start: auto;

            & span.join {
                margin-inline-start: 1rem;
                border: 1px solid #fff;
                padding: rem(6px) rem(15px);
                border-radius: 5px;
                display: flex;
                align-items: center;
                font-size: 14px;
            }

            a {
                color: white;
                text-decoration: none;
                cursor: pointer;
            }

            &>* {
                padding-inline-start: rem(20px);

            }

            img {
                width: 2.5em;
            }

            .user-profile-photo {
                .online-dot {
                    position: absolute;
                    bottom: -2px;
                    right: -2px;
                    width: 12px;
                    height: 12px;
                    z-index: 1;
                    border-radius: 50%;


                    background-color: $clr1;

                    border-width: 2px;
                    border-color: #fff;
                    border-style: solid;

                    .online-dot-helper {
                        z-index: 2;

                        background-color: $clr1;
                        border-width: 2px;
                        border-width: 2px;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        border-style: solid;

                    }
                }

                position: relative;
                background-color: #A23F6E;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    position: relative;
                    top: 4px;
                    width: 34px;
                    height: 33px;
                    border-radius: 50%;

                }

                .img-user-alt {
                    position: relative;
                    top: 1px;
                    color: #fff;
                }
            }
        }
    }

    .categories-menu-package {

        @include for-mobile-layout {
            display: none;
        }

        justify-content: space-between;
        font-family: Macan,
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
        transition: opacity 0.3s ease;
        opacity: 0;
        border-bottom: 1px solid $clr22;
        border-top: 1px solid $clr22;
        height: 41px;

        a {
            font-family: Macan-regular;
            color: #62646a;
            text-decoration: none;
        }

        & ul {
            justify-content: space-between;
            margin: 0;
            padding: 0;
            margin-block-start: 5px;

            & li {
                color: $clr3;
                display: block;
                font-size: 1rem;
                line-height: rem(24px);
                padding: rem(8px) 0;
                position: relative;
                text-decoration: none;
                cursor: pointer;
            }

            & .header-link {
                &:hover {
                    text-decoration: underline #1dbf73 2.5px;
                    text-underline-offset: 12px;
                }
            }
        }
    }
}

.header-main-layout.scrolled {
    background-color: white;
    // transition: background-color 0.3s ease;
}

.header-main-layout.scrolled .header-container {
    background-color: white;
    // transition: background-color 0.3s ease;

    & span.join {
        border: 1px solid $clr1;
        color: $clr1;
        transition: all .2s ease;
    }

    & span.join:hover {
        background-color: $clr1;
        color: white;

    }

    a {
        color: $CLR00;
        transition: color .2s;
    }

    a:hover {
        color: $clr1;
    }
}

.header-main-layout.search-visible .border-helper {
    // transition: background-color 0.3s ease;
    opacity: 1;
}

.header-main-layout.search-visible .search,
.header-main-layout.categories-visible .categories-menu-package {
    opacity: 1;
    background-color: white;
}

.header-position {
    position: relative;

    .header-container {
        .links {
            & span.join {
                border: 1px solid #1dbf73;
            }

            a {
                color: $CLR00;

            }
        }
    }

}

.new-order-dot{
    // display: none;
    position: absolute;
    font-size: 80px;
    color: red;
    right: 6%;
    top: -44px;
}

.hidden{
    display: none;
}