.index-nav {
    margin-top: 80px;
    font-family: Macan;

    .home-icon {
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
    }

    .small-devider {
        color: $clr2;
        font-size: 14px;
        margin-top: 3px;
        margin-right: 10px;
    }

    .btn-back {
        font-size: 14px;
        margin-top: 3px;
        color: $clr4;
        cursor: pointer;
    }
}

.index-filter {
    border-radius: 8px;

    display: flex;
    padding-top: 20px;
    margin-top: 20px;
    gap: 10px;

    button {
        cursor: pointer;
        margin-left: 0;
        border-radius: 8px;
    }

    button:hover {
        border: 1px solid $clr4;
    }

    svg {
        position: relative;
        left: 20px;
        height: 12px;
        width: 12px;
    }

    .el-button {
        position: relative;
        background-color: transparent;
        color: $clr4;
        font-family: Macan;
        font-size: 16px;
        padding: 12px 16px;
        height: 100%;
        border: 1px solid $clr22;
    }

}

.price-filter-section {
    width: 317px;
    height: 211px;
    font-family: Macan;
    color: $clr13;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.4fr;
    grid-template-areas:
        "min max"
        "clear btn";
    align-items: center;
    padding: 0 20px;

    .border-helper {
        position: absolute;
        border-top: 1px solid $clr22;

    }

    .input-min {
        grid-area: min;
        padding-right: 10px;
        padding-left: 10px;


        input {
            font-family: Macan;
            color: $clr11;
            height: 40px;

        }
    }

    .input-max {
        grid-area: max;
        padding-right: 10px;
        padding-left: 10px;

        input {
            font-family: Macan;
            color: $clr11;
            width: 60px;
            height: 40px;
        }

    }

    button {
        grid-area: btn;
        border-radius: 4px;
        background-color: black;
        font-size: 16px;
        font-weight: 600;
        padding: 14px;
        border: 1px solid transparent;
        margin: 10px 24px 14px 24px;
        width: 75%;
        cursor: pointer;

    }


}

.delivery-filter-section {

    font-family: Macan;
    color: $clr13;
    flex-direction: column;
    width: 210px;
    padding: 20px;


    button {
        position: relative;
        top: 10px;
        right: -60px;
        border-radius: 4px;
        background-color: black;
        font-size: 16px;
        font-weight: 600;
        padding: 14px;
        border: 1px solid transparent;
        margin: 10px 24px 14px 24px;
        width: 50%;
        cursor: pointer;

    }
}

.el-radio.el-radio--large .el-radio__inner {
    height: 22px;
    width: 22px;
    background: #fff;
    border-color: $clr4;
}

.el-radio__input.is-checked+.el-radio__label {
    color: $clr11;
}

.el-radio.el-radio--large .el-radio__label {
    color: $clr11;
}

.el-radio__inner::after {
    width: 8px;
    height: 8px;
    background: $clr4;

}

.el-input__wrapper.is-focus{
    box-shadow: 0 0 0 1px $clr11;
}