li.gig-preview {
    background-color: white;
    height: fit-content;
    position: relative;

    & .product_img {
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
        aspect-ratio: 1.66;
        object-fit: cover;
        object-position: center;

        &:hover {
            .vueperslides__arrows .vueperslides__arrow--next {
                opacity: 1;
                right: 0.5rem;
            }

            & .vueperslides__arrows .vueperslides__arrow--prev {
                opacity: 1;
                left: 0.5rem;
            }
        }

        .vueperslides__bullet .default {
            width: 6px;
            height: 6px;
            border-radius: 12px;
            border: 1px solid currentColor;
            background-color: #fff;
            box-shadow: 0 0 1px #00000080, 0 0 3px #0000004d;
            box-sizing: border-box;
            transition: .4s ease-in-out;
            // padding: 0 2px;
            margin: -3px;
        }

        .vueperslides__bullet--active .default {
            transform: scale(1.5);
        }

        & .vueperslides__arrows .vueperslides__arrow--next {
            color: #222325;
            left: auto;
            right: -1rem;
            border: 1px solid #ffffff;
            border-radius: 50%;
            background-color: #ffffff;
            opacity: 1;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
            opacity: 0;
            transition: .3s ease-in-out;
        }

        & .vueperslides__arrows .vueperslides__arrow--prev {
            color: #222325;
            right: auto;
            left: -1rem;
            border: 1px solid #ffffff;
            border-radius: 50%;
            background-color: #ffffff;
            opacity: 1;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
            opacity: 0;
            transition: .3s ease-in-out;
        }

        &.vueperslides .vueperslides__inner {
            margin-block-end: 0px;
            height: 100%;
        }
    }
    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 4px;
        margin-block-end: 6px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .vueperslides__parallax-wrapper {
        padding-bottom: 50%;
        height: 100%;
        border-radius: 8px;
    }

    & .vueperslides {
        margin-block-end: 0px;

    }


    & .button_hurt {
        position: absolute;
        top: 4px;
        right: 4px;
        z-index: 1;
        background-image: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/search_perseus/collect.9f36825.svg);
        background-position: 0 0;
        height: 32px;
        width: 34px;
        background-color: unset;

    }


    // .gig-preview {
    //     position: relative; /* Ensure proper positioning for the absolutely positioned image */
    //     background-color: white;
    //     border-radius: 10px;

    & .slides-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    & .user_name {
        cursor: pointer;
        font-size: rem(14px);
        font-weight: 700;
        height: auto;
        line-height: rem(21px);
    }

    & .title_product {
        height: 53.2px;
        padding-block-start: 4px;
        cursor: pointer;
        font-size: rem(16px);
        font-family: Macan-Regular;
        color: #404145;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        font-weight: 400;
        // line-height:51.2px
        line-height: rem(25.6px);
        max-height: rem(51.2px);
    }

    & .title_product:hover {
        text-decoration: underline;
    }

    & .rate {
        display: flex;
        flex-direction: row;
    }

    & .level {
        font-size: rem(14px);
        font-weight: 600;
        height: 20px;
        color: #404145;
        font-family: "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;


    }

    & .rate p {
        display: flex;
        flex-direction: row;
        align-self: center;
        font-size: rem(16px);
        font-stretch: 100%;
        font-weight: 700;
        height: rem(24px);
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 0px;
        padding-left: 4px;
        padding-right: 0px;
        padding-top: 0px;
    }
    & .rate span{
        margin-inline-start: rem(5px);
        color: #74767e;
        font-size: rem(16px);
        font-family: Macan-Regular;
        font-weight: 400;


    }


    & .price_product {
        cursor: pointer;
        font-size: rem(16px);
        font-stretch: 100%;
        font-weight: 700;
        height: auto;
    }

    & .user_preview {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .user_info {
            display: flex;
            align-items: center;
            margin-block-start: rem(4px);



            & .user_img {
                height: 24px;
                border-radius: 50%;
            }
        }
    }

    & .txt_body {
        color: #222325;
        font-family: "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
        // font-style: normal;
    }

}