/** @format */
.hero-container { 
  min-height: rem(680px);

  .hero-pos-container {
    position: absolute;    
    top: 0;
    width: 100%;     

    .vueperslides {
      &__parallax-wrapper {
        height: rem(680px);
      }
    }
  }

    .vueperslides {
      &:not(.info-slides) {
        .vueperslide {
          background-color: #222325;  
        }
      }

      .vueperslide {
        cursor: default;
      } 
    }
  
  & .search-container {
    max-width: rem(650px);    
    padding: 0;   
    z-index: 2;
    color: #fff;
    line-height: 1.2;
    align-self: center;    
    margin-block-end: 10rem;
    // @include for-mobile-layout {
    //   font-size: 12px;
    // }

    h1 {    
      letter-spacing: 0.1rem;      
      font-size: 2.85em;
      line-height: 3.4rem;
      font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 500;
      padding-bottom: rem(24px);
      margin: 0;

      & i.fancy-word {
          font-family: Domain-Display-Regular-Italic, "Helvetica Neue", Helvetica, Arial,
          sans-serif;          
          letter-spacing: 0.016em;
        }
    }
    
    .el-button {
      // @include for-mobile-layout {
      //   // font-size: 12px;
      //   position: absolute;
      //   top: 300px;
      //   width: 100%;
      //   border-radius: 4px;
      // }
      margin: 0;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
      white-space: nowrap;
      text-align: center;
      box-sizing: border-box;
      outline: 0;
      transition: 0.1s;
      background-color: #1dbf73;
      border: 1px solid #1dbf73;
      border-radius: 0 4px 4px 0;    
      height: rem(48px);

      &:hover {
        background-color: #19a463;
        border: 1px solid #19a463;
      }

      span {
        font-family: "Macan-light";
        fill: #fcfcfc;        
      }
    }

    .hero-search {
      // @include for-mobile-layout {
      //   // font-size: 12px;
      //   flex-direction: column;
      // }      
      margin-block-end: rem(24px);
      max-width: rem(650px);
      background-color: #fcfcfc;;
      border-radius: rem(4px) rem(4px) rem(4px) rem(4px);
    }

    .search-icon {
      align-items: center;
      justify-content: center;
      border-radius: 0 4px 4px 0;
      margin: 0;
      width: rem(41px);
      padding-top: rem(3px);
    }

    .input-container {
      width: 100%;

      input {
        border-radius: 4px 0 0 4px;
        margin-bottom: 0;
        border: 0;
        font-size: 1em;
        width: 100%;
        height: rem(48px);
        outline: 0;
        padding: 0px 0px 0px 4px;
        font-family: "Macan-Regular", sans-serif;
        
      }
    }    

    .categories {
      // display: none;
      // @include for-normal-layout {
      //   display: flex;
      // }
      flex-wrap: wrap;
      text-decoration: none;
      align-items: center;
      gap: 10px;
      font-size: 0.875rem;
      font-weight: 600;

      & a{
        text-decoration: none;
      } 

      & div {
        display: block;
        
        color: #fff;
        border: 1px solid white;
        border-radius: 2.5rem;
        padding: 1px rem(12px) 0;
        font-size: 0.875rem;
        line-height: rem(24px);
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: #fff;
          color: #7A7D85;
        }
      }

      span {
        padding-block-end: 1px;
        letter-spacing: 0.04em;
      }
    }
  }
}

 .hero-info { 
    padding: 8px 24px 0px 12px;
    display: grid;
    grid-template-areas:
    'pic name . . star'
    'pic exp exp exp exp';    
    
    
    backdrop-filter: blur(30px);
    background: hsla(0, 0%, 100%, .14);
    border: 1px solid hsla(0, 0%, 100%, .4);
    border-radius: 1600px;      
    color: #fff;       
    
    position: absolute;
    right: 2rem;
    bottom: 2em;   
    
    font-family: Macan,
      "Helvetica Neue",
      Helvetica,
      Arial,
      sans-serif;

      font-size: 1rem;
      font-weight: 700;
     line-height: 1rem;

    & .info-pic {
      margin-inline-end: rem(10px);
      width: rem(40px);
      
    }

    & .info-txt{
      
      & span.fullname {
        grid-area: name;            
        font-size: 12px;
        font-weight: 600;  
        align-self: center;
        line-height: 1rem;
          }
        
        & span.star {   
          position: absolute;
          right: rem(20px);          
          font-size: 12px;
          font-weight: 600;
          fill: #fff;
          line-height: 1rem;
        }

          & p.expert{
            grid-area: exp;
          }
    }
}

.trusted-container{
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  top: -5.5rem;
  background-color: #fafafa;  
  height: rem(95px);
  & span{
    font-size: 1em;
    padding-inline-end: rem(20px);
    }  
  
  & .logos{

    & .icon-container{     
      height: rem(60px);
      padding-right: 60px;
    }
  }
}