.vueperslides {    
    // position: relative;
    // background-color: #ffffff00;
    // width: 100%;  
     

    // &.details-slides {
    //   border: 1px solid #dadbdd;
    // }

    // .vueperslides__inner {
    //   height: inherit;
    //   position: relative;
    //   user-select: none;
    // }
    margin-block-end: 3em;
    
        // .vueperslides__parallax-wrapper {
        //   box-shadow: none;
          
        // }   

    .vueperslides__track {
      position: absolute;
      top: 0;
      cursor: pointer;
      width: 100%;     
      left: 0;
      right: 0;
      overflow: hidden;
      z-index: 1;    
    }

    .vueperslides__track-inner {
      white-space: nowrap;
      transition: 0.5s ease-in-out transform;  
      display: flex;
    }

    .vueperslide__content-wrapper {
      width: 100%;
    }

    .subcategory-warper {
      position: relative;
      display: flex;
      flex-direction: column;
      color: #fcfcfc;
      margin-inline-end: 3%;
      height: rem(345px);
      width: 100%;
      border-radius: 4px;
      padding: 1rem;
      cursor: pointer;      

      span {
        font-size: em(14px);
        // padding-block-end: 0.5rem;
        text-align: left;
      }

      h4 {
        color: white;
        text-align: left;
        font-size: em(23px);
        margin: 0;
      }
    }

    .vueperslide__content {
      min-height: rem(300px);
      width: 100%;
      color: white;
    }

  & .vueperslides__arrows--outside .vueperslides__arrow--next{
    left: auto;
    right: -1.5em;
    width: rem(48px);
    height: rem(48px);
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
  }

  & .vueperslides__arrows--outside .vueperslides__arrow--prev{
    right: auto;
    left: -1.5em;
    width: rem(48px);
     height: rem(48px);
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
  }
}

.selling-proposition-wrapper{
background-color: #f3fdf9;

& .selling-proposition{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: rem(96px) rem(32px) rem(96px) rem(32px);
  
  align-items: center;
  justify-content: center;
  gap: 30px;
  

  & .selling-info{
    padding-inline: 1rem rem(137.375px);    
    color: #404145;
    grid-column: 1;
    & h2{
      margin: 0;
      padding-bottom: rem(24px);
      font-size: 2rem;
      font-weight: 700;
      color: #404145;      
    }
    & h6{
      margin-block: 0;
      display: flex;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;      
      padding-bottom:rem(8px);
      font-size: rem(18px); 
      & span.check-svg{
        fill: #7a7d85;
      }
    }
    & p{
      
    }
  } 
}
}

.icon-category {
  margin-block-end: 4.9rem;
  text-decoration: none;

  h2 {
    font-size: 2em;
    line-height: 118%;
    padding-bottom: rem(24px);
    margin-bottom: rem(40px);
  }

  .icons {
    display: grid;
    padding-inline-start: rem(20px);
    padding-inline-end: rem(20px);
    grid-template-columns: repeat(5, 1fr);
    gap: rem(55px);

    .flex div {
      width: 100%;
      height: 100%;
    }

    span {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      font-family: 'Macan-light', sans-serif;
      height: 100%;    
          
      &.flex::after {
        content: "";
        position: absolute;
        top: rem(58px);
        right: 50%;
        transform: translate(50%);
        padding: 0 0 8px;
        width: rem(48px);
        border-bottom: 2px solid #c5c6c9;
        transition: border-color 0.2s ease-in-out, width 0.2s ease-in-out;
        
      }
      &:hover::after {
        border-color: #1dbf73;
        width: rem(90px);
        transition: border-color 0.2s ease-in-out, width 0.2s ease-in-out;
        text-decoration: none;

      }

      svg {        
        
        &.svg-graphic {
          .cls-4 {
            fill: none;
            stroke: #4d535b;
            stroke-miterlimit: 10;
            stroke-width: 2px;
          }
        }

        &.svg-writing {
          .cls-5 {
            fill: none;
            stroke: #4d535b;
            stroke-miterlimit: 10;
            stroke-width: 2px;
          }
        }

        &.svg-sound {
          .cls-4 {
            fill: none;
            stroke: #4d535b;
            stroke-miterlimit: 10;
            stroke-width: 2px;
          }
        }

        &.svg-tech {
          .cls-4 {
            fill: none;
            stroke: #4d535b;
            stroke-miterlimit: 10;
            stroke-width: 2px;
          }
        }

        &.svg-lifestyle {
          .cls-4 {
            fill: none;
            stroke: #4d535b;
            stroke-miterlimit: 10;
          }

          .cls-4 {
            stroke-width: 2.1px;
          }
        }
        &.svg-business {
          .cls-2 {
            fill: #fff;
          }
        }
      }
    }

    span:not(.flex) {
      display: flex;      
      height: 60px;
    }

    h4 {
      text-align: center;
      font-family: Macan-light;
      color: #222325;
      line-height: 26px;
    }
  }
}
