.home {
    .slides-container {
        margin: 0 auto;
        width: 90%;
        .slides {
            background-color: green;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

.video-section{
    background-color: $CLR01;
    min-height: rem(690px);
    padding: rem(96px) 0px;
    margin-block-end: rem(96px);

    .vid-container{
        width: 50%;
        padding-bottom: rem(96px);
        padding-top: rem(96px);
    
    }

}


.icon-category {
  margin-block-end: 4.9rem;
  h2 {
    font-size: 2em;
    line-height: 118%;
    padding-bottom: rem(24px);
    margin-bottom: rem(40px);
  }
  .icons {
    display: grid;
    padding-inline-start: rem(20px);
    padding-inline-end: rem(20px);
    grid-template-columns: repeat(5, 1fr);
    gap: rem(55px);

    .flex div {
      width: 100%;
      height: 100%;
    }

    span {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      font-family: 'Macan-light', sans-serif;
      height: 100%;
      margin-block-end:15px;
      


      &.flex::after {
        content: "";
        position: absolute;
        top: 58px;
        right: 50%;
        transform: translate(50%);
        padding: 0 0 8px;
        width: 48px;
        border-bottom: 2px solid #c5c6c9;
        transition: border-color 0.2s ease-in-out, width 0.2s ease-in-out;
      }
      &:hover::after {
        border-color: #1dbf73;
        width: 90px;
        transition: border-color 0.2s ease-in-out, width 0.2s ease-in-out;
      }

      svg {
        // height: 60px;
        // width: 60px;
        
        &.svg-graphic {
          .cls-4 {
            fill: none;
            stroke: #4d535b;
            stroke-miterlimit: 10;
            stroke-width: 2px;
          }
        }

        &.svg-writing {
          .cls-5 {
            fill: none;
            stroke: #4d535b;
            stroke-miterlimit: 10;
            stroke-width: 2px;
          }
        }

        &.svg-sound {
          .cls-4 {
            fill: none;
            stroke: #4d535b;
            stroke-miterlimit: 10;
            stroke-width: 2px;
          }
        }

        &.svg-tech {
          .cls-4 {
            fill: none;
            stroke: #4d535b;
            stroke-miterlimit: 10;
            stroke-width: 2px;
          }
        }

        &.svg-lifestyle {
          .cls-4 {
            fill: none;
            stroke: #4d535b;
            stroke-miterlimit: 10;
          }

          .cls-4 {
            stroke-width: 2.1px;
          }
        }
        &.svg-business {
          .cls-2 {
            fill: #fff;
          }
        }
      }
    }

    span:not(.flex) {
      display: flex;
      
      height: 60px;
    }

    h4 {
      text-align: center;
      font-family: Macan-light;
      color: #222325;
      line-height: 26px;
    }
  }
}
