.gig-payment {

    margin-top: 70px;

    .payment-container {
        border: 1px solid $clr9;
        border-radius: 0.1875em;
        margin-block-end: 64px;
        color: $clr5;
        margin-inline-end: 50px;
        flex: 1;
        height: 450px;

        h2 {
            font-family: Macan;
            border-bottom: 1px solid $clr9;
            padding-left: 30px;
            padding-bottom: 20px;
        }

        p {
            font-family: Macan-Regular;
            padding-left: 30px;

            .radio-dot {
                position: relative;
                top: 4px;

                .el-radio.el-radio--large .el-radio__inner {
                    border-color: $clr5;
                }

                .el-radio__inner::after{
                    background:$clr5 ;
                }
            }

            img {
                position: relative;
                top: 5px;
                padding-left: 9px;
            }
        }

        .card-container {
            padding-left: 30px;
            padding-bottom: 50px;
            border-bottom: 1px solid $clr9;
            margin: 0;
            font-family: Macan;
            grid-template-columns: 290px 145px 145px;
            grid-template-rows: 65px 75px;
            grid-template-areas:
                "number date security"
                "name lname lname";

            font-size: 16px;
            border-radius: 0;

            input {
                max-width: 235px;
                padding-left: 15px;
                height: 40px;
                font-size: 16px;
                font-family: Macan-Regular;

                border: 1px solid #c5c6c9;
                border-radius: 4px ;

            }

            .card-number {
                grid-area: number;
            }

            .card-date {
                grid-area: date;

                input {
                    max-width: 90px;
                }
            }

            .card-security {
                grid-area: security;

                input {
                    max-width: 90px;
                }
            }

            .card-name {
                grid-area: name;
                margin-top: 20px;
            }

            .card-lname {
                margin-top: 20px;

                grid-area: lname;
            }

        }


        .paypal{
            padding-left: 30px;
            margin-top: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid $clr9;
            .radio-dot {


                .el-radio.el-radio--large .el-radio__inner {
                    border-color: $clr5;
                }

                .el-radio__inner::after{
                    background:white ;
                }
            }
        }

    }

    .confirm-container {
        font-family: Macan-Regular;

        border: 1px solid $clr9;
        border-radius: 0.1875em;
        padding: 1.5em;
        margin-block-end: 64px;
        color: $clr5;
        max-height: 650px;
        max-width: 440px;

        .payment-header {

            display: flex;
            padding-bottom: 10px;
            border-bottom: 1px solid $clr9;

            img {
                width: 100px;
                max-height: 62px;
                object-fit: contain;
                border-radius: 4px;
                margin-right: 16px;
            }

            .confirm-title {
                font-weight: 600;
                color: $CLR00;
                text-align: left;
                margin-bottom: 4px;

            }
        }

        .payment-price {
            padding-top: 20px;
            font-size: 1.25rem;
            line-height: 1.5em;
            font-weight: 400;
            color: $clr11;
            font-family: Macan;
        }

        .payment-features-list {
            font-size: 16px;
            font-weight: 400;

            .payment-feature-icon svg {
                fill: $clr1;

            }

            .payment-feature-text {
                padding-left: 7px;
                position: relative;
                top: -3px
            }
        }

        .payment-fees {
            flex-direction: column;

            .payment-fee,
            .payment-vat,
            .payment-total,
            .payment-delivery {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8px;
                margin-top: 12px;
            }

            .payment-total {
                margin-top: 17px;
                font-weight: 700;
                border-top: 1px solid $clr9;
                padding-top: 22px;
            }
        }

        .btn-confirm {
            border-radius: 4px;
            background-color: black;
            font-size: 16px;
            font-weight: 600;
            padding: 12px 24px;
            border: 1px solid transparent;
            width: 100%;

            cursor: pointer;
        }
    }

}