.review-container {
    border-bottom: 1px solid $clr9;
    padding-top: 30px;

    .review-user-img {
        border-radius: 50%;
        display: block;

        position: absolute;

        z-index: 1;
        max-width: 48px;
    }

    .review-user-name {
        padding-left: 60px;
        flex: 1;
        font-size: 16px;
    }

    .review-user-country {
        position: relative;
        padding-left: 60px;
        font-size: 16px;
        font-family: Macan-Regular;

        img {
            position: relative;
            max-width: 20px;
            top: 4px;
        }

    }

    .review-rate-number {
        color: $clr10;
        font-weight: bold;
        font-size: 16px;
        position: relative;
        padding-left: 3px;
        top: -1px;
    }

    .review-star {
        padding-left: 46px;

    }

    .review-txt {
        font-family: Macan-Regular;
        padding-top: 13px;
        padding-left: 60px;
        margin: 0;
        font-size: 16px;


        display: -webkit-box;
        -webkit-line-clamp: 3; /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;

        .show-more{
            cursor: pointer;
            text-decoration: underline;

        }
    }

    .review-btns {
        padding-left: 60px;
        font-family: Macan;
        font-size: 16px;
        cursor: pointer;
        padding-bottom: 30px;
        padding-top: 30px;


        .review-btn-yes {
            padding-left: 10px;


            svg {
                padding-right: 2px;
                position: relative;
                top: 3px;
            }
        }

        .review-btn-no {
            padding-left: 10px;

            svg {
                padding-right: 2px;
                position: relative;
                top: 3px;
            }

        }
    }


}

.review-more-btn {
    padding-top: 15px;
    cursor: pointer;
    font-family: Macan-Regular;
    font-size: 16px;
    color: $clr7;
}

.expand-text {
    -webkit-line-clamp: unset;
}

