.rate-bars {
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-bottom: 1px solid $clr9;
    padding-bottom: 30px;
    font-family: Macan-Regular;




    tr {
      display: flex;
      font-size: rem(16px);
      margin: rem(10px) 0;
      color: $clr14;
      line-height: rem(16px);
      padding: rem(2px);
      margin: 0;
      &:hover {
        cursor: pointer;
      }
    }
    .row {
      display: grid;
      grid-template-columns:15px 40px 290px 10px ;
    }
  
    .progress-bar-container {
      display: flex;
      width: 92%;
      height: 8px;
      background-color: #f0f0f0;
      border-radius: 10px;
      margin: 10px;
      translate: 0 -5px;


    }
  
    .progress-bar {
      height: 100%;
      background-color: $clr10;
      border-radius: 8px;
    }
  
    .faded {
      opacity: 20%;
    }


}
.rate-review-number{
    display: flex;
    font-family: Macan;
    font-size: 16px;
    margin-bottom: rem(10px);

    .rate-avg-stars{
        position: relative;
        margin-left: 10px;
        top: 2px;
    }

    .rate-avg-stars svg {
        fill: $clr10;
        margin-left: 3px;
    }

    .rate-avg-stars svg.empty {
        fill: none;
        stroke: $clr10;
    }

    .rate-avg-number {
        color: $clr10;
        font-weight: bold;
        font-size: 16px;
        position: relative;
        left: -6px;
        margin-left: 9px;
        top: -1px;
        font-size: 14px;
    
    }
}