.main-user {
    grid-template-columns: 360px 880px;
    max-width: 1240px;
    padding: 0 32px;
    margin: 0 auto;
    gap: 2rem;
    color: $clr11;
    font-family: macan;
    margin-top: 70px;

    .user-container {
        color: #606266;
        border: 1px solid #ebeef5;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        max-width: 310px;

        .user-name {
            color: black;
        }

        .user-photo {
            position: relative;
            background-color: #A23F6E;
            width: 88px;
            height: 88px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                position: relative;
                width: 89px;
                height: 89px;
                border-radius: 50%;

            }

            .user-initials {
                font-size: 30px;
                position: relative;
                top: 1px;
                color: #fff;
            }


        }

        .total-orders {
            margin-top: 20px;

        }

        .user-country-title {
            margin-top: 20px;
            font-size: 18px;
        }

        .user-country {
            font-size: 16px;



            .user-coutry-img {
                position: relative;
                width: 20px;
                top: 4px;
            }

        }

        .member {
            margin-top: 20px;
            font-size: 18px;
        }

        .year {
            font-size: 16px;
        }

        .active {
            font-size: 16px;
            color: $clr1;
        }


        .seller-btn {
            margin-top: 20px;
            font-size: 18px;
            color: #606266;
            cursor: pointer;
        }

        .seller-btn:hover {
            color: $clr1;
        }

        button {
            display: flex;
            justify-content: center;
            grid-area: btn;
            border-radius: 4px;
            background-color: black;
            font-size: 16px;
            font-weight: 600;
            padding: 14px;
            border: 1px solid transparent;
            margin: 30px 24px 14px 24px;
            width: 75%;
            text-decoration: none;
            color: #fff;

        }
    }


    color: black;




}

.el-collapse-item__content {
    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {

            display: flex;

            justify-content: space-between;

        }
    }

}

.custom-table {
    border-collapse: collapse;
    margin-top: 20px;

    th,
    td {
        padding: 10px;
        border: 1px solid #ccc;

        img {
            width: 80px;
            height: 53px;
        }
    }

    th {
        background-color: #f2f2f2;
    }

    .status-button {
        display: flex;
        /* Use flexbox for the status button */
        justify-content: center;
        /* Center the content horizontally */
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 14px;

    }

    .btn-rejected {
        color: #ff0000;
    }

    .btn-completed {
        color: $clr1;
    }

    .btn-accepted {
        color: $clr14;
    }

    .btn-pending {
        color: $clr10;
    }
}

td div {
    display: flex;
    align-items: flex-start;
    font-family: Macan-Regular;
    max-width: 600px;
}

td img {
    max-width: 80px;
    margin-right: 10px;
}


td div {

    text-overflow: ellipsis;
}