.home {
    .slides-container {
        margin: 0 auto;
        width: 90%;
        .slides {
            background-color: green;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

